<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button/>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content>
  <ion-grid class="ion-padding">
    <!-- Search & Sort -->
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-icon name="swap-vertical" slot="start"/>
          <ion-select interface="popover">
            <ion-select-option> Name (A-Z) </ion-select-option>
            <ion-select-option> Name (Z-A) </ion-select-option>
            <ion-select-option> Created at (newest first) </ion-select-option>
            <ion-select-option> Created at (oldest first) </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-icon name="search" slot="start"/>
          <ion-input maxlength="40" placeholder="Search" [clearInput]="true"/>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Category List -->
    <ion-row>
      <ion-col>
        <ion-item button="true" [detail]="true" (click)="openModal()">
          <ion-label> Auswärts Essen </ion-label>
        </ion-item>
        <ion-item button="true" [detail]="true" (click)="openModal()">
          <ion-label> Ferien </ion-label>
        </ion-item>
        <ion-item button="true" [detail]="true" (click)="openModal()">
          <ion-label> Sport </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Create Button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"/>
    </ion-fab-button>
  </ion-fab>
</ion-content>
